@(simForm: Form[Simulation])

@import views.html.helper._
@import views.html.helper.twitterBootstrap._

@*
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
*@

@main("Simulation - SimAdmin") {

<a class="link" href="@routes.SimulationController.index">Back</a>
<hr/>

@*
@if(simForm.hasErrors) {
    @simForm.errors.foreach { error =>
        <div class="alert alert-danger" role="alert">error.message</div>
    }
}
*@


@if(simForm.hasErrors()) {
    <span ng-init="showVisualization=true"></span>
    <span ng-init="simulationSpeed = @Simulation.DEFAULT_SPEED"></span>
} else {
    <span @if(simForm.get().isShowVisualization()){ng-init="showVisualization=true"} else {ng-init="showVisualization=false"}></span>
    <span ng-init="simulationSpeed = @simForm.get().getSimulationSpeed()"></span>
}

<div ng-controller="SimulationCreateCtrl">

    @form(action = routes.SimulationController.createAction()) {
    <div class="row">
        <div class="col-md-4">
            @inputText(simForm("name"), '_label -> "Name", 'class -> "form-control")

            @*
            @helper.inputText(simForm("name"), '_label -> "# Runs", '_help -> "Not yet implemented", 'class -> "form-control")
            *@
            <div class="form-group hide">
                <label for="name"># Runs</label>
                <input type="text" id="name" name="name" value="1" class="form-control" disabled>
                <span class="help-block">Not yet implemented</span>
            </div>

            <div class="form-group">
                @inputText(simForm("simulationDuration"), '_label -> "Simulation time span (Real time)", '_help -> "In Minutes", 'class -> "form-control", 'value -> "5")
            </div>
            @*
            @inputText(simForm("simulationSpeed"), '_label -> "Simulation Speed", '_help -> "Default: 50, Fast: 100, Slow: 25, Max:1300", 'class -> "form-control")
            *@


            <div id="showVisualization_field" class="checkbox-holder clearfix form-group">
                <label for="showVisualization">Visualize:</label>
                <div class="input">
                    <input type="checkbox" value="true" name="showVisualization" id="showVisualization" ng-model="showVisualization" ng-change="visualizationChanged(showVisualization)">
                </div>
                @* is needed so visualization can be deactivated*@
                <input type="hidden" name="showVisualization" value="false" />
            </div>

            <div class="form-group">
                <label>Simulation Speed</label>: <span>{{ simulationFactor }}x</span>
                <div class="slider-holder">
                    <div class="slider">
                        <div ui-slider="slider.options" min="1" max="500" ng-model="speed"></div>
                    </div>
                    <span class="hint-max-visualize-speed help-block">Due to performance of the simulation the maximum simulation speed with visualization is 10x</span>
                    <span class="hint-max-speed hide help-block">If the simulation is not visualized it will run at max speed (26x)</span>
                    <input type="text" ng-model="simulationSpeed" name="simulationSpeed" class="hide"/>
                </div>
            </div>

            <div class="form-group">
                @select(
                simForm("map.id"),
                options = options(DefaultMap.findAllActive()),
                '_default -> "--- Map ---",
                '_label -> "Map"
                )
            </div>

            <div class="form-group">
                @select(
                simForm("traffic.id"),
                options = options(Traffic.findAllTemplates()),
                '_default -> "--- Traffic ---",
                '_label -> "Traffic"
                )
            </div>

            <div class="form-group">
                @helper.textarea(simForm("comment"), '_label -> "Comment", '_help -> "", 'class -> "form-control")
            </div>
        </div>
    </div>
    <br/>
    <input class="btn btn-primary" type="submit" value="Run Simulation"/>
    }
</div>
}