@(simulations: List[Simulation])


@main("Simulation - SimAdminSimulation - SimAdmin") {

<div class="clearfix">

    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Map</th>
            <th>Traffic</th>
            <th>Duration</th>
            <th>Run Date</th>
            <th>Visualize</th>
            <th>Speed</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>
        @for(s <- simulations) {
        <tr>
            <td>@s.getId()</td>
            <td>
                <a href="@routes.SimulationController.runAction(s.getId())">
                    @s.getName()
                </a>
            </td>
            @defining(s.getMap) { defaultMap =>
                <td>@if(defaultMap != null){@defaultMap.getName()}</td>
            }
            @defining(s.getTraffic) { traffic =>
                <td>@if(traffic != null){@traffic.getName()}</td>
            }
            <td>@s.getSimulationDurationFormatted()</td>
            <td>@s.getRunDateFormatted()</td>
            <td>@s.isShowVisualizationEffective()</td>
            <td>@s.getSimulationSpeedFactorFormatted()</td>
            <td>@s.getComment()</td>
            <td>
                <a href="@routes.SimulationController.runAction(s.getId())" class="btn btn-link">See Results</a>
                <a href="@routes.SimulationController.cloneSimulation(s.getId())" class="btn btn-link">Clone</a>
                <a href="@routes.SimulationController.deleteAction(s.getId())" class="btn btn-link">Delete</a>
            </td>
        </tr>
        }
    </table>
    @*
    <ul class="pagination center-block">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    *@
</div>
<br/>

<a class="btn btn-primary" href="@routes.SimulationController.newSimulation">New Simulation</a>


}
