@(simulationResult: results.SimulationResult, simulation: Simulation, matchingResult: results.MatchingResult)

@main("Simulation - Result") {

    <a class="link" href="@routes.SimulationController.index">Back</a>
    <hr/>
    <div class="clearfix">
        <button type="button" class="btn btn-default pull-right" onclick="location.href='@routes.SimulationController.exportResultAction(simulation.getId())';">
            <span class="glyphicon glyphicon-export"></span> Export Data
        </button>

        <h2>Result @simulation.getName()</h2>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Configuration</h3>
            </div>
            @views.html.simulation.simresults.configuration(simulationResult, simulation)
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Overview</h3>
            </div>
            @views.html.simulation.simresults.overview(simulationResult)
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Strategy Overview</h3>
            </div>
            @views.html.simulation.simresults.strategies(simulationResult)
        </div>
        @if(matchingResult != null) {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Matching Overview</h3>
                </div>
                @views.html.simulation.simresults.matching(matchingResult)
            </div>
        }
        <hr/>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cars Overview</h3>
            </div>
            @views.html.simulation.simresults.cars(simulationResult)
        </div>
        <hr/>
        @*
        <h4>Cars Detail</h4>
        @for(di <- simulationResult.getDriverInfos()) {
        @if(di.isFoundParkspace()) {
            <div class="panel panel-success">
        } else {
            <div class="panel panel-warning">
        }
            <div class="panel-heading">
                <h3 class="panel-title"># @di.getCarId()</h3>
            </div>
            <table class="table table-striped">
                <tr>
                    <td width="250">Car Size</td>
                    <td>@di.getCarSize()</td>
                </tr>
                <tr>
                    <td>Strategy</td>
                    <td>@di.getStrategy()</td>
                </tr>
            </table>
            <table class="table">
                <tr class="info">
                    <th colspan="7">
                        Parkspace Search
                    </th>
                </tr>
                <tr>
                    <td width="250">
                        Destination
                    </td>
                    <td>
                        @di.getDestinationLatitude(),  @di.getDestinationLongitude()
                    </td>
                </tr>
                <tr>
                    <td>
                        Parkspace
                    </td>

                        <td>
                            @if(di.getParkspace() != null) {
                                <table>
                                    <tr>
                                        <td width="100">id</td> <td>@di.getParkspace().getId()</td>
                                    </tr>
                                    <tr>
                                        <td>Price</td> <td>@di.getParkspace().getPrice() CHF</td>
                                    </tr>
                                    <tr>
                                        <td>Max Parktime</td> <td>@di.getParkspace().getMaxAllowedParkTime() minutes</td>
                                    </tr>
                                </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Walkdistance from Parkspace
                        </td>
                        <td>
                            @if(di.getParkspace() != null) {
                                @di.getDistanceParkspaceToDestination() m
                            } else {
                                -
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Driven Distance (PP Search)
                        </td>
                        <td>
                            @if(di.getParkspace() != null) {
                                @di.getDrivenDistance() m
                            } else {
                            -
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Parkspace Search Time
                        </td>
                        <td>
                            @if(di.getParkspace() != null) {
                                @di.getParkspaceSearchTime() s
                            } else {
                                -
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Optimal Parkspace
                        </td>
                        <td>
                            @if(di.getOptimalParkspace() != null) {
                                @di.getOptimalParkspace().getId()
                            } else {
                                -

                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Walkdistance from Optimal Parkspace
                        </td>
                        <td>
                            @if(di.getOptimalParkspace() != null) {
                                @di.getDistanceOptimalParkspaceToDestination() m
                            } else {
                                -
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        }
    </div>
        *@

    </div>
}