@(simulation: Simulation, map: DefaultMap)

@main("Simulation - Running") {
    <span ng-init="currentSimulationId = @simulation.getId()"></span> @*needs to be before ng-controller*@
    <div ng-controller="SimulationCtrl">
        <p ng-init="showVisualization = @simulation.isShowVisualizationEffective()">
            Simulated Time: {{ simulatedTimeFormatted }} / @simulation.getSimulationDurationFormatted()<br/>
            <a class="force-simulation-end link" ng-click="forceSimulationEnd()" href="javascript:;">End Simulation Now</a>
        </p>
        <br/>
        <timer>
            <div class="progress progress-striped active">
               <div class="bar" style="width: {{ simulatedTime  / @simulation.getEffectiveSimulationDurationSeconds() * 100 | number:0}}%;">
               </div>
            </div>
        </timer>

        <div class="hide hint-prepare-result">
            <img alt="loading..." src='@routes.Assets.at("images/loading.gif")' class="indicate-loading">
            Please wait while the results are beeing proccessed. This may take some minutes.
        </div>

        @if(simulation.isShowVisualization == true && simulation.isShowVisualizationEffective() == false) {
            <p class="muted">the simulation can not be visualized because the traffic configuration contains too many cars.</p>
        }

        <div ng-if="showVisualization">
            <div class="clearfix">
                <div class="legend-holder">
                    <p ng-repeat="car in driving = (cars | filter:{status: 'Driving'})"></p>
                    <p ng-repeat="car in parked = (cars | filter:{status: 'Parked'})"></p>
                    <p ng-repeat="car in matched = (cars | filter:{status: 'Matched'})"></p>

                    <p>Number of total cars in traffic: {{ cars.length }}</p>
                    <p>Number of driving cars: {{ driving.length }}</p>
                    <p>Number of parked cars: {{ parked.length }}</p>
                    <p>Number of matched cars: {{ matched.length }}</p>
                </div>

                <div class="legend-holder">
                    <h5>Streets:</h5>
                    <ul>
                        @for(speedColor <- map.getSpeedColors()) {
                            <li style="color: @speedColor.getColor()">Speed >= @speedColor.getSpeed()</li>
                        }
                    </ul>
                </div>
                @*
                <div class="legend-holder">
                    <h5>Cars:</h5>
                    <ul>
                        <li style="color: green">Compact</li>
                        <li style="color: orange">Normal</li>
                        <li style="color: red">Big</li>
                    </ul>
                </div>
                *@
                <div class="legend-holder">
                    <h5>Nodes:</h5>
                    <ul>
                        <li style="color: red">Garage</li>
                        <li style="color: blue">Parkspace</li>
                        <li style="color: black">Destination</li>
                        <li style="color: green">Edge (Car leave node)</li>
                    </ul>
                </div>
                <div ng-if="followingCar" class="legend-holder specific-car">
                    <h5>Car {{followingCar.id}}</h5>
                    <table class="table table-striped" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>#</th>
                            <th>Strategy</th>
                            <th>Stat</th>
                            <th>Dest</th>
                            <th>driven distance</th>
                            <th>max PP price</th>
                            <th>max walk</th>
                        </tr>
                        <tr class="car">
                            <td style="color: {{ followCar.color }};">{{followingCar.id}}</td>

                            <td style="color: {{ followCar.color }};" >{{ followingCar.strategy }}</td>
                            <td style="color: {{ followCar.color }};" >{{ followingCar.status }}</td>
                            <td style="color: {{ followCar.color }};" >{{ followingCar.destinationNodeId }}</td>
                            <td style="color: {{ followCar.color }};" >{{ followingCar.distance }} m</td>
                            <td style="color: {{ followCar.color }};" >{{ followingCar.maxPP }} CHF</td>
                            <td style="color: {{ followCar.color }};" >{{ followingCar.maxWalk }} m</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="clearfix">
                <div class="map-holder">
                    <canvas id="map" width="@DefaultMap.simulationMapWidth" height="@DefaultMap.simulationMapHeight">
                    <!--<canvas id="map" width="1010" height="1400">-->
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                     <a id="car-{{car.id}}" class="car" ng-repeat="car in cars" ng-click="cars.followCar(car, $event)" style="left: {{car.longitude}}px; top: {{car.latitude}}px; background-color: {{ car.color }};" href="javascript:;">
                        {{car.id}}
                    </a>
                </div>

                <div class="legend-cars-holder">
                    <h5>Cars</h5>
                    <table class="table table-striped" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>#</th>
                            <th>Strategy</th>
                            <th>Stat</th>
                            <th>Dest</th>
                        </tr>
                        <tr class="car" ng-repeat="car in cars" ng-click="cars.followCar(car, $event)">
                                <td style="color: {{ car.color }};">{{car.id}}</td>
                                <td style="color: {{ car.color }};" >{{ car.strategy }}</td>
                                <td style="color: {{ car.color }};" >{{ car.status }}</td>
                                <td style="color: {{ car.color }};" >{{ car.destinationNodeId }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <script>
            var c = document.getElementById("map");

            var links = [];
            var nodes = [];

            var i = 0;
            @for(link <- map.getLinks()) {
                links[i] = c.getContext("2d");
                links[i].beginPath();

                links[i].moveTo(@map.getLongitudeNormalized(link.getStartNode().getPosition()), @map.getLatitudeNormalized(link.getStartNode().getPosition()));
                links[i].lineTo(@map.getLongitudeNormalized(link.getDestinationNode().getPosition()), @map.getLatitudeNormalized(link.getDestinationNode().getPosition()));


                links[i].strokeStyle = '@link.getSpeedColor()';
                links[i].stroke();
                i++;
            }

            var j=0;
            @for(node <- map.getNodes()) {
                nodes[i] = c.getContext("2d");
                nodes[i].beginPath();

                @node match {
                    case parkspace: Parkspace => {

                        var ctx = c.getContext("2d");

                        @if(parkspace.isGarage()) {
                            nodes[i].strokeStyle = 'red';
                            ctx.fillStyle = 'red';
                        } else {
                            @if(parkspace.isParking()) {
                                nodes[i].strokeStyle = 'blue';
                                ctx.fillStyle = 'blue';
                            }
                        }

                        nodes[i].arc(@map.getLongitudeNormalized(node.getPosition()), @map.getLatitudeNormalized(node.getPosition()),2,0,2*Math.PI);
                        nodes[i].stroke();

                        ctx.font="10px Georgia";
                        ctx.fillText(@node.getId(),@map.getLongitudeNormalized(node.getPosition())+3,@map.getLatitudeNormalized(node.getPosition())-7);
                    }

                    case destination: Destination => {
                        nodes[i].strokeStyle = 'black';
                        nodes[i].arc(@map.getLongitudeNormalized(node.getPosition()), @map.getLatitudeNormalized(node.getPosition()),2,0,2*Math.PI);
                        nodes[i].stroke();

                        var ctx = c.getContext("2d");
                        ctx.font="10px Georgia";
                        ctx.fillStyle = 'black';
                        ctx.fillText(@node.getId(),@map.getLongitudeNormalized(node.getPosition())+0,@map.getLatitudeNormalized(node.getPosition())-6);

                    }

                    case edge: Edge => {
                        nodes[i].strokeStyle = 'green';
                        nodes[i].arc(@map.getLongitudeNormalized(node.getPosition()), @map.getLatitudeNormalized(node.getPosition()),2,0,2*Math.PI);
                        nodes[i].stroke();

                        var ctx = c.getContext("2d");
                        ctx.font="10px Georgia";
                        ctx.fillStyle = 'green';
                        ctx.fillText(@node.getId(),@map.getLongitudeNormalized(node.getPosition())+0,@map.getLatitudeNormalized(node.getPosition())-6);

                    }

                    case node: Node => {
                    }

                }
                j++;
            }
            </script>
        </div>
    </div>

}