@(simulationResult: results.SimulationResult)
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Car Type</th>
        <th>Strategy</th>
        <th>Found Parkspace?</th>
        <th>Max Walk (m)</th>
        <th>Max Pay (CHF)</th>
        <th>Walk (m)</th>
        <th>Driven Distance for PP Search (m)</th>
        <th>Parkspace Search Time</th>
    </tr>
    @for(di <- simulationResult.getDriverInfosSorted()) {
        @if(di.isFoundParkspace()) {
            <tr class="success">
        } else {
            <tr>
        }
        <td>@di.getCarId()</td>
        <td>@di.getCarSize()</td>
        <td>@di.getStrategy()</td>
        <td>
            @if(di.isFoundParkspace()) {
                Yes (@di.getParkspace().getType().asString())
            } else {
                No
            }
        </td>
        <td>@di.getMaxWalkingDistance()</td>
        <td>@di.getMaxWillingToPayForParking()</td>
        <td>
            @if(di.getWalkedDistance() > 0) {
                @("%.2f".format(di.getWalkedDistance()))

            } else {
                -
            }
        </td>
        <td>
            @if(di.getDrivenDistance() > 0) {
                @("%.2f".format(di.getDrivenDistance()))
            } else {
                -
            }
        </td>
        <td>
            @di.getParkspaceSearchTimeFormatted()
        </td>
    </tr>
    }
</table>