@(simulationResult: results.SimulationResult, simulation: Simulation)
<table class="table table-striped">
    <tr>
        <td width="400">Name</td>
        <td>@simulation.getName()</td>
    </tr>
    <tr>
        <td>Traffic Configuration</td>
        <td>
            <b>@simulationResult.getTrafficName()</b><br/>

            @simulationResult.getParkedVehiclesCount() parked vehicles at simulation start<br/>
            @simulationResult.getDrivingVehiclesCount() driving vehicles at simulation start<br/>
            Constant traffic: @simulationResult.isConstantTraffic()<br/>
            @simulationResult.getNewVehiclesRate() new vehicles / Min
        </td>
    </tr>
    <tr>
        <td>Map</td>
        <td>
            <b>@simulation.getMap().getName()</b><br/>
            @simulation.getMap().getParkspacesCount() Parkspaces
        </td>
    </tr>
    <tr>
        <td>Run Date</td>
        <td>@simulation.getRunDateFormatted()</td>
    </tr>
    @*
    <tr>
        <td>Run count</td>
        <td>@simulation.getRunsCount()</td>
    </tr>
    *@
    <tr>
        <td>Simulation Duration</td>
        <td>@simulation.getEffectiveSimulationDurationFormatted()</td>
    </tr>
    <tr>
        <td>Simulation Speed</td>
        <td>@simulation.getSimulationSpeedFormatted() (@simulation.getSimulationSpeedFactor()x)</td>
    </tr>
    <tr>
        <td>Visualize</td>
        <td>@simulation.isShowVisualization()</td>
    </tr>
    <tr>
        <td>Comment</td>
        <td>
        @Html(HtmlFormat.escape(simulation.getComment()).toString.replace("\n", "<br />"))
        </td>
    </tr>
</table>