@(matchingResult: results.MatchingResult)
<table class="table table-striped">
    <tr>
        <td  width="450">Searches</td>
        <td>@matchingResult.getEffectiveSearchCount()</td>
    </tr>

    <tr>
        <td  width="450">Offers</td>
        <td>@matchingResult.getEffectiveOfferCount()</td>
    </tr>

    <tr>
        <td  width="450">Matches</td>
        <td>@matchingResult.getMatchCount()</td>
    </tr>

    <tr>
        <td  width="450">Cancelled Matches</td>
        <td>@matchingResult.getCancelMatchCount()</td>
    </tr>

    <tr>
        <td  width="450">Successful Matches</td>
        <td>@matchingResult.getSuccessfulMatchCount()</td>
    </tr>
</table>