@(simulationResult: results.SimulationResult)
<table class="table table-striped">
    <tr>
        <td  width="450">Total Vehicles</td>
        <td>@simulationResult.getVehiclesCount()</td>
    </tr>

    <tr>
        <td>Total Driven Distance for Parking Search (km)</td>
        <td>@("%.2f".format(simulationResult.getTotalDrivenDistance()))</td>
    </tr>
    <tr>
        <td>Average Driven Distance for Parking Search (km)</td>
        <td>@("%.2f".format(simulationResult.getAverageDrivenDistance()))</td>
    </tr>
    <tr>
        <td>Total Walked by all Parkers (m)</td>
        <td>@("%.2f".format(simulationResult.getTotalWalkedDistance()))</td>
    </tr>
    <tr>
        <td>Average Walked Distance (m)</td>
        <td>@("%.2f".format(simulationResult.getAverageWalkedDistance()))</td>
    </tr>
    @*
    <tr>
        <td>Max Driven Distance for Parkspace Search (Parking Search) (km)</td>
        <td>@("%.2f".format(simulationResult.getMaxDrivenDistance()))</td>
    </tr>
    *@
    <tr>
        <td>Average Parkspace Search Time for all Vehicles</td>
        <td>@simulationResult.getAverageParkspaceSearchTimeFormatted(true)</td>
    </tr>
    <tr>
        <td>Average Parkspace Search Time for Parkspace-Finding Vehicles</td>
        <td>@simulationResult.getAverageParkspaceSearchTimeFormatted(false)</td>
    </tr>
</table>