@(simulationResult: results.SimulationResult)
<table class="table table-striped">
    <tr>
        <td>Strategy</td>
        <th>Luck</th>
        <th>1-2-Block</th>
        <th>Inside-Outside</th>
        <th>Matching</th>
    </tr>
    <tr>
        <td width="450">
                        Usage
        </td>
        <td>
            @simulationResult.getStrategyUsage("Luck") (@simulationResult.getStrategyUsagePercentFormatted("Luck"))
        </td>
        <td>
            @simulationResult.getStrategyUsage("1-2-Block") (@simulationResult.getStrategyUsagePercentFormatted("1-2-Block"))
        </td>
        <td>
            @simulationResult.getStrategyUsage("Inside-Out") (@simulationResult.getStrategyUsagePercentFormatted("Inside-Out"))
        </td>
        <td>
            @simulationResult.getStrategyUsage("Match") (@simulationResult.getStrategyUsagePercentFormatted("Match"))
        </td>
    </tr>
    <tr>
        <td>
           Total Driven Distance (km)
        </td>
        <td>
            @("%.2f".format(simulationResult.getTotalDrivenDistance("Luck")))
        </td>
        <td>
            @("%.2f".format(simulationResult.getTotalDrivenDistance("1-2-Block")))
        </td>
        <td>
        @("%.2f".format(simulationResult.getTotalDrivenDistance("Inside-Out")))
        </td>
        <td>
            @("%.2f".format(simulationResult.getTotalDrivenDistance("Match")))
        </td>
    </tr>
    <tr>
        <td>
           Average Driven Distance (km)
        </td>
        <td>
            @("%.2f".format(simulationResult.getAverageDrivenDistance("Luck")))
        </td>
        <td>
            @("%.2f".format(simulationResult.getAverageDrivenDistance("1-2-Block")))
        </td>
        <td>
            @("%.2f".format(simulationResult.getAverageDrivenDistance("Inside-Out")))
        </td>
        <td>
            @("%.2f".format(simulationResult.getAverageDrivenDistance("Match")))
        </td>
    </tr>
    <tr>
        <td>
                        Total Walked Distance (m)
        </td>
        <td>
            @("%.2f".format(simulationResult.getTotalWalkedDistance("Luck")))
        </td>
        <td>
            @("%.2f".format(simulationResult.getTotalWalkedDistance("1-2-Block")))
        </td>
        <td>
        @("%.2f".format(simulationResult.getTotalWalkedDistance("Inside-Out")))
        </td>
        <td>
            @("%.2f".format(simulationResult.getTotalWalkedDistance("Match")))
        </td>
    </tr>
    <tr>
        <td>
                        Average Walked Distance (m)
        </td>
        <td>
        @("%.2f".format(simulationResult.getAverageWalkedDistance("Luck")))
        </td>
        <td>
        @("%.2f".format(simulationResult.getAverageWalkedDistance("1-2-Block")))
        </td>
        <td>
        @("%.2f".format(simulationResult.getAverageWalkedDistance("Inside-Out")))
        </td>
        <td>
        @("%.2f".format(simulationResult.getAverageWalkedDistance("Match")))
        </td>
    </tr>
    <tr>
        <td>
           Average Parkspace Search Time
        </td>
        <td>
        @simulationResult.getAverageParkspaceSearchTimeFormatted("Luck", true)
        </td>
        <td>
        @simulationResult.getAverageParkspaceSearchTimeFormatted("1-2-Block", true)
        </td>
        <td>
        @simulationResult.getAverageParkspaceSearchTimeFormatted("Inside-Out", true)
        </td>
        <td>
        @simulationResult.getAverageParkspaceSearchTimeFormatted("Match", true)
        </td>
    </tr>
    <tr>
        <td>
            Average Parkspace Search Time for Parkspace-Finding Vehicles
        </td>
        <td>
            @simulationResult.getAverageParkspaceSearchTimeFormatted("Luck", false)
        </td>
        <td>
            @simulationResult.getAverageParkspaceSearchTimeFormatted("1-2-Block", false)
        </td>
        <td>
        @simulationResult.getAverageParkspaceSearchTimeFormatted("Inside-Out", false)
        </td>
        <td>
            @simulationResult.getAverageParkspaceSearchTimeFormatted("Match", false)
        </td>
    </tr>
</table>