@(trafficForm: Form[Traffic])

@*
@import _
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
*@

@import views.html.helper._
@import views.html.helper.twitterBootstrap._

@main("Traffic - SimAdmin") {

<a class="link" href="@routes.TrafficController.index">Back</a>
<hr/>

@if(trafficForm.hasGlobalErrors) {
<ul>
    @trafficForm.globalErrors.foreach { error =>
    <li>error.message</li>
    }
</ul>
}
<span @if(trafficForm.get().isConstantTraffic()){ng-init="constantTraffic=true"} else {ng-init="constantTraffic=false"}></span>
<div ng-controller="TrafficCtrl">
@form(action = routes.TrafficController.editAction(trafficForm.get().getId())) {

    <div class="row">
        <div class="col-md-4">
            @inputText(trafficForm("name"), '_label -> "Name", '_help -> "Required", 'class -> "form-control")
            @textarea(trafficForm("comment"), '_label -> "Comment", '_help -> "", 'class -> "form-control")
        </div>
        <div class="col-md-4">

            @inputText(trafficForm("parkedVehiclesCount"), '_label -> "# Parked Vehicles at Simulation Start", 'class -> "form-control")
            @inputText(trafficForm("drivingVehiclesCount"), '_label -> "# Driving Vehicles at Simulation Start", 'class -> "form-control")

        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <div id="constantTraffic_field" class="checkbox-holder form-group">
                <div class="clearfix">
                    <label for="constantTraffic">Constant Traffic:</label>
                    <div class="input">
                        <input type="checkbox" value="true" name="constantTraffic" id="constantTraffic" ng-model="constantTraffic">
                    </div>
                </div>
                <span class="help-inline">If constant traffic is enabled then for every driver leaving the simulation a new driver will be added</span>
                @* is needed so constantTraffic can be deactivated*@
                <input type="hidden" name="constantTraffic" value="false" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        @inputText(trafficForm("newVehiclesRate"), '_label -> "New Vehicles per minute", 'class -> "form-control", '_help -> "Amount of additional vehicles added per minute to the simulation")
        </div>
    </div>
    <hr/>
<div class="row">
    <div class="col-md-4" ng-init="strategyBlock = @trafficForm.get().getStrategyOneTwoBlockPercentage(); strategyInsideOutside = @trafficForm.get().getStrategyInsideOutsidePercentage(); strategyLuck = @trafficForm.get().getStrategyLuckPercentage(); strategyMatch = @trafficForm.get().getStrategyMatchPercentage();
        vehicleCompact = @trafficForm.get().getVehicleCompactPercent(); vehicleNormal = @trafficForm.get().getVehicleNormalPercent(); vehicleBig = @trafficForm.get().getVehicleBigPercent();">
        <h5>Parkspace SearchStrategy</h5>
        <div class="form-group">
            <label>One Two Block Strategy ({{strategyBlock}})</label>
            <div class="slider-holder">
                <div class="slider">
                    <div ui-slider="slider" min="0" max="100" ng-model="strategyBlock"></div>
                </div>
                <input type="text" ng-value="strategyBlock" name="strategyOneTwoBlock" class="hide"/>
            </div>
        </div>

        <div class="form-group">
            <label>Luck Strategy ({{strategyLuck}})</label>
            <div class="slider-holder">
                <div class="slider">
                    <div ui-slider="slider" min="0" max="100" ng-model="strategyLuck"></div>
                </div>
                <input type="text" ng-value="strategyLuck" name="strategyLuck" class="hide"/>
            </div>
        </div>
        <div class="form-group">
            <label>Inside Outside Strategy ({{strategyInsideOutside}})</label>
            <div class="slider-holder">
                <div class="slider">
                    <div ui-slider="slider" min="0" max="100" ng-model="strategyInsideOutside"></div>
                </div>
                <input type="text" ng-value="strategyInsideOutside" name="strategyInsideOutside" class="hide"/>
            </div>
        </div>
        <div class="form-group">
            <label>Match Strategy ({{strategyMatch}})</label>
            <div class="slider-holder">
                <div class="slider">
                    <div ui-slider="slider" min="0" max="100" ng-model="strategyMatch"></div>
                </div>
                <input type="text" ng-value="strategyMatch" name="strategyMatch" class="hide" />
            </div>
        </div>
        @*
        <p class="text-muted">The sum of the strategies must add up to 100%</p>
        @inputText(trafficForm("strategyOneTwoBlockPercentage"), '_label -> "% One Two Block Strategy", 'class -> "form-control")
        @inputText(trafficForm("strategyLuckPercentage"), '_label -> "% Luck Strategy", 'class -> "form-control")
        @inputText(trafficForm("strategyMatchPercentage"), '_label -> "% Match Strategy", 'class -> "form-control")
        *@

    </div>
    <div class="col-md-4 hide">
        <h5>Vehicles Types</h5>

        <div class="form-group">
            <label>Compact ({{vehicleCompact}})</label>
            <div class="slider-holder">
                <div class="slider">
                    <div ui-slider="slider" min="0" max="100" ng-model="vehicleCompact"></div>
                </div>
                <input type="text" ng-value="vehicleCompact" name="vehicleCompact" class="hide" value="50"/>
            </div>
        </div>
        <div class="form-group">
            <label>Normal ({{vehicleNormal}})</label>
            <div class="slider-holder">
                <div class="slider">
                    <div ui-slider="slider" min="0" max="100" ng-model="vehicleNormal"></div>
                </div>
                <input type="text" ng-value="vehicleNormal" name="vehicleNormal" class="hide" value="50"/>
            </div>
        </div>
        <div class="form-group">
            <label>Big ({{vehicleBig}})</label>
            <div class="slider-holder">
                <div class="slider">
                    <div ui-slider="slider" min="0" max="100" ng-model="vehicleBig"></div>
                </div>
                <input type="text" ng-value="vehicleBig" name="vehicleBig" class="hide" value="50"/>
            </div>
        </div>

        @*
        <p class="text-muted">The sum of the vehicle types must add up to 100%</p>
        @inputText(trafficForm("vehicleCompactPercent"), '_label -> "% Compact", 'class -> "form-control")
        @inputText(trafficForm("vehicleNormalPercent"), '_label -> "% Normal", 'class -> "form-control")
        @inputText(trafficForm("vehicleBigPercent"), '_label -> "% Big", 'class -> "form-control")
        *@

    </div>
    </div>
    <hr/>
    <div class="row">
        <h5>Driver behaviour</h5>
        <div class="col-md-4">
        @inputText(trafficForm("rangePayParkingMin"), '_label -> "Minimal willing to pay for parking", '_help -> "in rappen", 'class -> "form-control")
        </div>
        <div class="col-md-4">
        @inputText(trafficForm("rangePayParkingMax"), '_label -> "Maximal willing to pay for parking", '_help -> "in rappen", 'class -> "form-control")
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
        @inputText(trafficForm("rangeWalkMax"), '_label -> "Minimal willing to walk for parking", '_help -> "in meter", 'class -> "form-control")
        </div>
        <div class="col-md-4">
        @inputText(trafficForm("rangeWalkMin"), '_label -> "Maximal willing to walk for parking", '_help -> "in meter", 'class -> "form-control")
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
        @inputText(trafficForm("rangeTimeParkingMin"), '_label -> "Minimal park time", '_help -> "(in minutes) for driving vehicles at simulation start", 'class -> "form-control")

        </div>
        <div class="col-md-4">
        @inputText(trafficForm("rangeTimeParkingMax"), '_label -> "Maximal park time", '_help -> "(in minutes) for driving vehicles at sim start", 'class -> "form-control")

        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">

        @inputText(trafficForm("rangeTimeParkedParkingMin"), '_label -> "Minimal park time", '_help -> "(in minutes) for parked vehicles at simulation start", 'class -> "form-control")

        </div>
        <div class="col-md-4">
        @inputText(trafficForm("rangeTimeParkedParkingMax"), '_label -> "Maximal park time", '_help -> "(in minutes) for parked vehicles at sim start", 'class -> "form-control")
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
        @inputText(trafficForm("maxParkspaceSearchTime"), '_label -> "Maximal parkspace search time", '_help -> "(in minutes) After this time driver leaves simulation", 'class -> "form-control")
        </div>
    </div>
    <hr/>
    <input class="btn btn-primary" type="submit" value="Save"/>
}
</div>

}
