@(traffics: List[Traffic])



@main("Traffic - SimAdmin") {

    @*<a class="link" href="@routes.TrafficController.createDriver()">Create Deterministic Drivers</a>*@
    <hr/>
    <h4>Traffic Overview</h4><br/>
    <div class="clearfix">
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>New Vehicle Rate</th>
                <th>Parked Vehicles</th>
                <th>Driving Vehicles</th>
                <th>Strategies</th>
                <th>Car Types</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
            @for(t <- traffics) {
                <tr>
                    <td>
                        <a href="@routes.TrafficController.editTraffic(t.getId())">@t.getName()</a>
                    </td>
                    <td>@t.getNewVehiclesRate()</td>
                    <td>@t.getParkedVehiclesCount()</td>
                    <td>@t.getDrivingVehiclesCount()</td>
                    <td>
                        <table>
                            <tr>
                                <td width="80">Luck:</td>
                                <td>@t.getStrategyLuckPercentageFormatted()</td>
                            </tr>
                            <tr>
                                <td>1-2 Block:</td>
                                <td>@t.getStrategyOneTwoBlockPercentageFormatted()</td>
                            </tr>


                            <tr>
                                <td>Inside-Outside:</td>
                                <td>@t.getStrategyInsideOutsidePercentageFormatted()</td>
                            </tr>

                            <tr>
                                <td>Match:</td>
                                <td>@t.getStrategyMatchPercentageFormatted()</td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td width="80">Compact:</td>
                                <td>@t.getVehicleCompactPercentFormatted()</td>
                            </tr>
                            <tr>
                                <td>Normal:</td>
                                <td>@t.getVehicleNormalPercentFormatted()</td>
                            </tr>
                            <tr>
                                <td>Big:</td>
                                <td>@t.getVehicleBigPercentFormatted()</td>
                            </tr>
                        </table>
                    </td>

                    <td>@t.getComment()</td>
                    <td>
                        <a class="btn btn-link" href="@routes.TrafficController.editTraffic(t.getId())">Edit</a>
                        <a class="btn btn-link" href="@routes.TrafficController.deleteAction(t.getId())">Delete</a>
                    </td>
                </tr>
            }
        </table>
        @*
        <ul class="pagination center-block">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        *@
    </div>
    <br/>

    <a class="btn btn-primary" href="@routes.TrafficController.newTraffic">New Traffic</a>


}
