@import "lib/bootstrap/less/bootstrap.less";
@import "_justified-nav.less";
@import "map.less";
@import "slider.less";

.row > h5 {
    padding-left: 15px;
}

.pagination {
    max-width: 230px;
}
form label {
    font-weight: normal;
}
.intro .btn-lg{
    margin-bottom:15px;
}
.legend-holder {
    float:left;
    margin-left: 40px;
}
ul, ol {
    padding : 0;
}
ul.inside, ol.inside {
    list-style-position: inside;
}

.map-holder {
    float:left;
}
.legend-cars-holder {
    font-size: 10px;
    position: fixed;
    right: 0;
    width: 200px;
    top: 10px;
}
.legend-cars-holder .table {
    width: auto;
}
.legend-cars-holder .table td, .legend-cars-holder .table th{
    padding: 2px 1px;
    margin:0;
}

a.disabled, a.disabled:hover {
    color: #777;
    text-decoration: none;
    cursor: default;
}
a.inactive {
    text-decoration: line-through;
}

.help-inline {
    color : #737373;
}


/*
missing in bootstrap?
*/
.progress.active .bar {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress .bar {
    background-color: #0e90d2;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    color: #ffffff;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}

.progress-striped .bar {
    background-color: #149bdf;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.hint-prepare-result {
    text-align: center;
}

.checkbox-holder{
    height: 60px;
    padding-top: 8px;
    label {
        float:left;
    }
    div.input {
        margin-left: 10px;
        float:left;
    }

}

.help {
    color: #737373;
}