/*map*/

#map {
    height: 940px;
    width: 1010px;
    border: 1px solid #d3d3d3;
}

.map-holder {
    position: relative;
    /*margin-bottom: 10pt;*/
    width: 1010px;
}

#map table td {
    border: 1pt solid black;
    height:14pt;
    width:14pt;
}

.map-holder .car {
    outline: 0;
    background-color: orange;
    border-radius: 10pt;
    bottom: 0;
    color: white;
    font-size: 7pt;
    height: 13pt;
    left: 0;
    line-height: 13pt;
    position: absolute;
    text-align: center;
    width: 14pt;
    text-decoration:none;
}

tr.car {
    cursor: pointer;

}

.map-holder .car.blink {
    color: black;
    border: 1px solid black;
}

.map-holder a#searcher {
    background-color: #0000ff;
    left:100px;
}

.map-holder a#offerer {
    background-color: red;
}

.map-holder a#pp {
    background-color: green;
}