@main("Welcome to the Admin-Interface") {

<div class="jumbotron intro">
    <h1>Simulation Admin</h1>

    <p>Welcome to the Admin-Interface of the Simulation.</p>
    <p>
        <a class="btn btn-primary btn-lg" role="button" href="@routes.SimulationController.index">Simulation</a>
        <a class="btn btn-primary btn-lg" role="button" href="@routes.MapController.index">Maps</a>
        <a class="btn btn-primary btn-lg" role="button" href="@routes.TrafficController.index">Traffic</a>
    </p>
</div>

}
