@(elements: helper.FieldElements)

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@
<div class="form-group @if(elements.hasErrors) {error}">
    <label for="@elements.id">@elements.label</label>
    @*<input type="text" class="form-control" id="@elements.id" name="@elements.name">*@
    @elements.input
    <span class="help-block">@elements.infos.mkString(", ")</span>
</div>