@(parkspace_quantity: Integer)

@import views.html.helper._

@main("Map - SimAdmin") {

<a class="link" href="@routes.MapController.index">Back</a>
<hr/>

@form(action = routes.MapController.createAction()) {

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="map_name">Name</label>
            <div class="input">
                <input type="text" id="mapName" name="mapName" value="" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="clearfix ">
                <label for="map_type">Map</label>
                <div class="input">
                    <select id="mapType" name="mapType">
                        <option value="osm_zuerich">Zürich HB (Open Street Map)</option>
                        <option value="osm_winterthur">Winterthur Rechtwinklig (Matlab)</option>
                        <option value="tomtom_zuerich">Zürich HB (TomTom)</option>
                        <option value="tomtom_winterthur">Winterthur (TomTom)</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="parkspaces">Parkspaces Quantity</label>
            <div class="input">
                <input type="text" id="parkspaces" name="parkspaces" value="40" class="form-control">
                <span class="help-inline">Quantity will not be taken into account on TomTom maps</span>
            </div>
        </div>

    </div>
</div>

<input class="btn btn-primary" type="submit" value="Save" onclick='$(this).siblings(".indicate-loading").removeClass("hide")'/>
<img alt="loading..." src='@routes.Assets.at("images/loading.gif")' class="hide indicate-loading">
<p class="help">Importing TomTom Maps may take up to 15 Minutes.</p>

}

}
