@(maps: List[DefaultMap])

@main("Map - SimAdmin") {
    <h4>Maps Overview</h4><br/>
    <div class="clearfix">
        <table class="table table-striped table-hover">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th># Parkspaces</th>
                <th width="200">Actions</th>
            </tr>
            @for(m <- maps) {
                <tr>
                    <td>@m.getId()</td>
                    <td>@m.getName()</td>
                    <td>@m.getParkspacesCount()</td>
                    <td>
                        <a href="@routes.MapController.preview(m.getId())" class="btn btn-link">Preview</a>
                        <a href="@routes.MapController.deleteAction(m.getId())" class="btn btn-link">Delete</a>
                        @*<a class="disabled btn btn-link">Details</a>*@
                    </td>
                </tr>
            }
        </table>
        @*
        <ul class="pagination center-block">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        *@
    </div>
    <br/>

    <a class="btn btn-primary" href="@routes.MapController.newMap">New Map</a>

}
