@(map: DefaultMap)

@main("Map - Preview") {
    <a class="link" href="@routes.MapController.index">Back</a>
    <hr/>
    <div class="clearfix">
        <div class="map-holder">
            <canvas id="map" width="@DefaultMap.simulationMapWidth" height="@DefaultMap.simulationMapHeight">
            <!--<canvas id="map" width="1010" height="1400">-->
                Your browser does not support the HTML5 canvas tag.
            </canvas>
        </div>

        <script>
        var c = document.getElementById("map");

        var links = [];
        var nodes = [];

        var i = 0;
        @for(link <- map.getLinks()) {
            links[i] = c.getContext("2d");
            links[i].beginPath();

            links[i].moveTo(@map.getLongitudeNormalized(link.getStartNode().getPosition()), @map.getLatitudeNormalized(link.getStartNode().getPosition()));
            links[i].lineTo(@map.getLongitudeNormalized(link.getDestinationNode().getPosition()), @map.getLatitudeNormalized(link.getDestinationNode().getPosition()));

            links[i].strokeStyle = '@link.getSpeedColor()';
            links[i].stroke();
            i++;
        }

        var j=0;
        @for(node <- map.getNodes()) {
            nodes[i] = c.getContext("2d");
            nodes[i].beginPath();

            @node match {
                case parkspace: Parkspace => {

                    var ctx = c.getContext("2d");

                    @if(parkspace.isGarage()) {
                        nodes[i].strokeStyle = 'red';
                        ctx.fillStyle = 'red';
                    } else {
                        @if(parkspace.isParking()) {
                            nodes[i].strokeStyle = 'blue';
                            ctx.fillStyle = 'blue';
                        }
                    }

                    nodes[i].arc(@map.getLongitudeNormalized(node.getPosition()), @map.getLatitudeNormalized(node.getPosition()),2,0,2*Math.PI);
                    nodes[i].stroke();

                    ctx.font="10px Georgia";
                    ctx.fillText(@node.getId(),@map.getLongitudeNormalized(node.getPosition())+3,@map.getLatitudeNormalized(node.getPosition())-7);
                }

                case destination: Destination => {
                    nodes[i].strokeStyle = 'black';
                    nodes[i].arc(@map.getLongitudeNormalized(node.getPosition()), @map.getLatitudeNormalized(node.getPosition()),2,0,2*Math.PI);
                    nodes[i].stroke();

                    var ctx = c.getContext("2d");
                    ctx.font="10px Georgia";
                    ctx.fillStyle = 'black';
                    ctx.fillText(@node.getId(),@map.getLongitudeNormalized(node.getPosition())+0,@map.getLatitudeNormalized(node.getPosition())-6);

                }

                case edge: Edge => {
                    nodes[i].strokeStyle = 'green';
                    nodes[i].arc(@map.getLongitudeNormalized(node.getPosition()), @map.getLatitudeNormalized(node.getPosition()),2,0,2*Math.PI);
                    nodes[i].stroke();

                    var ctx = c.getContext("2d");
                    ctx.font="10px Georgia";
                    ctx.fillStyle = 'green';
                    ctx.fillText(@node.getId(),@map.getLongitudeNormalized(node.getPosition())+0,@map.getLatitudeNormalized(node.getPosition())-6);

                }

                case node: Node => {
                }

            }
            j++;
        }
        </script>
    </div>
}